.carousel-item img {
  border-radius: 0.5rem;
  height: auto;
}

.carousel {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}

h1 {
  color: #f8ca67;
  font-family: 'Playfair Display', serif;
  font-size: 46px;
  text-align: center;
  padding: 20px;
}

h5 {
  color: #f8ca67;
  font-family: 'Playfair Display', serif;
  font-size: 37px;
}

p {
  color: #f8ca67;
  font-family: 'Playfair Display', serif;
  font-size: 23px;
  text-align: justify;
  padding: 15px 1px;
}
