body {
  background: linear-gradient(
    to top left,
    #3d0d0d,
    #9e2323,
    #3d0d0d
  ) !important;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}
