body {
  background: linear-gradient(
    to top right,
    #2f1d09,
    #633c10,
    #f39a0a
  ) !important;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}
