body {
  background: linear-gradient(
    to top right,
    #211508,
    #5a3710,
    #c67c06
  ) !important;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}
