#foot {
  align-items: center;
  justify-content: space-between;
  background-color: #281402;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: static;
  height: auto;
  max-width: 100%;
}

#foot h1 {
  color: #f8ca67;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}
